body {
  font-family: Arial, sans-serif;
}

.cookie-consent {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 260px;
}

.cookie-content {
  display: flex;
  flex-direction: column;
}

.cookie-icon {
  font-size: 42px;
}

.cookie-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.cookie-button:hover {
  background-color: #f1f1f1;
}

.cookie-close {
  background: none;
  color: #fff;
  border: none;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cookie-close:hover {
  color: #ddd;
}
